@model FazendaApp.Domain.Model.CategoriaOficialModel

<h1>Detalhes Categoria</h1>

<div>
    <h4>CategoriaOficialModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMinimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMinimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMaximo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Voltar", "Index") |
</div>
